__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv
venv/

# Raw EEG data is required for make run / reproducibility
# data/raw/*
data/interim/*
!data/interim/.gitkeep

.DS_Store
Thumbs.db

# segmented EEG cache
data/segmented_data/
*.npy

# notebook checkpoints
.ipynb_checkpoints/
