__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv
venv/
data/raw/*
data/interim/*
!data/raw/.gitkeep
!data/interim/.gitkeep
.DS_Store
Thumbs.db

# segmented EEG cache
data/segmented_data/
*.npy

# notebook checkpoints
.ipynb_checkpoints/
